@import '../../styles/colors.scss';

.form {
  display: flex;
  flex-direction: column;

  input,
  select {
    width: 100%;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: 1px solid black;
    margin-bottom: 5px;

    &:focus,
    &:active {
      border-color: darken($color-acent, 20%);
      outline: none;
    }
  }

  label {
    text-indent: 0.8rem;
  }

  button {
    margin-top: 1rem;
  }
}
