$color-acent: #65dcc7;
$color-background: #ececec;
$color-card-red: #f28b82;
$color-card-orange: #fbbc04;
$color-card-yellow: #fff475;
$color-card-green: #ccff90;
$color-card-blue: #a7ffeb;
$color-card-purple: #d7aefb;
$color-card-pink: #fdcfe8;
$color-card-white: #ffffff;
